$high_color: #ff5959;
$low_color: #c1a10e;

a {
  color: #ff4c00;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ff1800;
  text-decoration: underline;
}

.holder {
  margin: auto;
  padding: 0 12px;
  width: 956px;
}

#header {
  overflow: hidden;
  margin-bottom: 24px;
  border-bottom: 2px solid $low_color;
  .logo {
    float: left;
    margin-right: 24px;
    img { width: 158px; }
  }
  .bigtitle {
    font: { size: 58px; weight: bold; }
    color: $high_color;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  nav.main-nav {
    background: #fff;
    ul {
      list-style: none;
      margin: 40px 0 0;
      border-top: 1px solid #000;
      padding: 0;
    }
    li {
      display: inline-block;
      margin-right: 18px;
      padding: 0;
      height: 42px;
      line-height: 42px;
    }
    a {
      text-decoration: none;
      color: #000;
      font: { size: 24px; weight: bold; }
      &:hover { text-decoration: underline; }
    }
    li.active a { color: $low_color; }
  }
}

#footer {
  background: $low_color;
  .information {
    padding-top: 12px;
    color: #fff;
    line-height: 16px;
    a { color: #fff; text-decoration: underline; }
    a:hover { text-decoration: none; }
  }
}

#presenter {
  margin-bottom: 24px;
  height: 250px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
    li {
      overflow: hidden;
      width: 956px;
      height: 250px;
    }
  }
  .imgbox {
    float: right;
    margin-left: 24px;
    border: 12px solid #000;
    img { max-height: 226px; }
  }
  .descr {
    display: table;
    border-collapse: collapse;
    height: 250px;
    .intext {
      display: table-cell;
      vertical-align: middle;
      text-indent: 12px;
      font-size: 22px;
      font-style: italic;
    }
  }
}

$pren_li_padd: 48px;
.prenews {
  margin-top: 24px;
  border-top: 2px solid $low_color;
  padding: 24px 0;
  ul {
    list-style: none;
    overflow: hidden;
    li {
      float: left;
      border-right: 1px dashed #000;
      padding: 0 $pren_li_padd;
      width: 318px - $pren_li_padd * 2;
      // &:first-child { padding-left: 0; width: 318px - $pren_li_padd; }
      // &:last-child { border: 0; padding-right: 0; width: 318px - $pren_li_padd; }
      &:last-child { border: 0; }
    }
  }
}

.with-sidenav {
  aside {
    float: left;
    padding-top: 12px;
    width: 256px;
    ul { list-style: none; padding: 0; }
    ul ul { padding-left: 20px; }
    li { margin-bottom: 6px; }
    a { font-size: 16px; font-weight: bold; }
    li.active > a { color: #000; text-decoration: none; }
  }
  article {
    margin-left: 275px;
  }
}








// burum