@import "mixins";

// Sticky Footer
//  works for html like:
//   <body>
//     <div id="wrap">
//       ... site content here, include header but exclude footer
//     </div>
//     <footer id="footer">
//       ... footer content here ...
//     </footer>
//   </body>
html, body { height: 100%; }
#wrap {
  min-height: 100%;
  margin-bottom: $footer-height * (-1); }
#wrap:after {
  content: " ";
  display: block;
  height: $footer-height; }
#footer { height: $footer-height - 1px; border-top: 1px solid #ccc; }
